.Menuslider{
    background-color: white;
    padding-top: 20px;
}

.joy{
  color: tomato;
}

h3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    margin: 5px;
}
.img{
  background-color: red;
}